// colors
$black: #000;
$blue: #00f;
$white: #fff;
$pink: #FF004E;

// Breakpoints
$breakpoints: (
    mini:  "(max-width: 550px)",
    small: "(max-width: 849px)",
    short: "(max-width: 1400px)",
    base:  "(min-width: 850px)",
    wide:  "(min-width: 1920px)"
);